.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: black;
  color: white;
}
.App {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: relative;
 

  
}

.App.loaded {
  opacity: 1;
 
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

}

.background-image {
  background-size: cover;
  transition: opacity 2s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.background-image.visible {
  opacity: 1;
}

.background-image.hidden {
  opacity: 0;
}
.App img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 0; 
  opacity: 0;
  transition: opacity 2s ease-in;
}
.weatherIcon {
  position: static!important; 
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 1 !important;
  width: auto !important;
  height: auto !important;

  
  
}

.App img.loaded {
  opacity: 1;
}

.temp {
    margin-right: 30px; 
}
.weatherDataBox{

  padding: 20px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);

  border-radius: 8px; /* round corners */
  box-shadow: inset 0 0 10px 2px #0c73a6, 0 0 10px 2px #0c73a6;
color: #f3a35b;
  display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;
  width: 100%; 
  margin: 20px auto; 
  background-color: transparent;
      /*  blur effect */
      backdrop-filter: blur(19px);
      /* For browsers that don't support backdrop-filter? */
      -webkit-backdrop-filter: blur(19px);
      border: none;
 
}
.boldedText {
  font-weight: 700; 
  color:  #0c73a6; 
}

.searchbarBox{
  color: black;
  margin-bottom: 70px;
 width: 80%;/*parent div that contains input and button components should be 80% width of screen*/
 display: flex; 
  justify-content: center; /* items horizontally */
  align-items: center; /* items vertically */
  
 
}


.locationInput::placeholder {
  color: #f3a35b; 
  transition: 3s;
}
.searchbarBox input {
  width: 70%; /* takes up 70% of the  parrent div */
  font-size: 40px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;/*centers along height axis*/
  align-items: center;
  font-family: 'Staatliches', cursive;
  color: black;
  margin-right: 10px;/*little space between the input box and the button*/
  border-radius: 8px; /* round corners */
  background-color: transparent;
  border-color: #f3a35b;
  
  transition: 0.9s;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2); /* Shadow is centered, with a all-around blur radius of 10px, spread radius of 2px 0.2 for opaqueness */
  /*  blur effect */
  background-color: transparent;
  /*  blur effect */
  backdrop-filter: blur(19px);
  /* For browsers that don't support backdrop-filter? */
  -webkit-backdrop-filter: blur(19px);
  

}
.searchbarBox input:focus {
  outline: none; 
  border: 2px solid #0c73a6; 
  transition: 0.9s;

}
.searchbarBox input:focus::placeholder{
  color: #0c73a6;
  transition: 3s;
}
.searchbarBox button {
  width: 30%; /* takes up 30% of the  parrent div */
  font-size: 40px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;/*centers along height axis*/
  align-items: center;
  font-family: 'Staatliches', cursive;
  border-radius: 8px; /* round corners */
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2); /* Shadow is centered, with a all-around blur radius of 10px, spread radius of 2px 0.2 for opaqueness */
  transition: 0.9s;
  background-color: #f3a35b;

  
  border: none;

     cursor: pointer;
}
.searchbarBox button:hover {
  background-color: #0c73a6; 
  color: black ;
  transition: 0.9s;
 
}

html, body {
  height: 100%;

  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh; 
  display: flex;
  justify-content: center;/*centers along height axis*/
  align-items: center; /*centers along width axis*/
  flex-direction: column;
}

.wind {
  margin-right: 30px; 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
